<form method="post" action="{{ path('app_fiche_delete', {'id': fiche.id}) }}" onsubmit="return confirm('Voulez vouz supprimer cette fiche?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fiche.id) }}">
    <button class="btn btn-danger rounded-pill">supprimer</button>
</form>
